$component: "slider";

$slider-items: 8;
$slider-visible-item: 3;
$slider-viewport-width: 100%;
$slider-viewbox-ratio: calc(1/1);
$slider-item-active: 5;
$slider-viewbox-width: 100vmin;
$slider-viewbox-height: (calc(1 / $slider-viewbox-ratio)) * 100%;
$slider-viewbox-max-width: 50vh;
$slider-viewbox-max-width-mobile: 40vw;
$transition-scale: 1;
$transition-duration: .4s;
$transition-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap");

html {
	font-family: "Roboto Flex", sans-serif;
	font-size: 62.5%;
	box-sizing: border-box;
	touch-action: pan-y;
	font-size: 62.5%;
	// font-smooth: always;
	text-rendering: optimizeLegibility;
	-ms-overflow-style: scrollbar;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: inherit;
	font-size: 1.6em;
	background-color: #1d1e22;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1.4em;
	font-weight: bold;
}

.container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.card {
	h3 {
		display: none;
	}
	&-tag-list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 1.4rem;
			line-height: 1.2;
			white-space: nowrap;
			margin-left: -0.6rem;
			margin-top: 1rem;
	
			&-title {
				display: none;
				// float: right;
				// padding: 0.2rem 0.4rem;
				// border: solid 1px currentColor;
				// border-radius: 4px;
				// background: transparent;
			}
	
			@media (max-height: 480px) {
				& {
					display: none;
				}
			}
		}
}

.slider {
	position: relative;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);

	&__viewport {
		position: relative;
		width: 100%;
	}

	&__viewbox {
		display: block;
		position: relative;
		perspective: 100vw;
		margin: 0 auto;
		width: $slider-viewbox-width;
		max-width: $slider-viewbox-max-width-mobile;
		perspective-origin: center;
		
		&::before {
			position: relative;
			top: 0;
			left: 0;
			display: block;
			content: "";
			height: 0;
			padding-bottom: $slider-viewbox-height;
			width: 100%;
		}
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transition: transform (calc($transition-duration/2)) $transition-timing-function (calc($transition-duration/2)); // container user transformX
		transform-style: preserve-3d;
	}

	&-target {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		@at-root input#{&} {
			display: none;
		}

		@for $i from 1 through $slider-items {
			&:nth-of-type(#{$i}):checked~.slider__viewport .slider__container {
				transform: translateY(-50% * ($i - 1));
			}
		}
	}
	
	&-target-flip {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		@at-root input#{&} {
			display: none;
			pointer-events: none;
		}
		
		@for $i from 1 through $slider-items {
			&:nth-child(#{$i} of .slider-target-flip):checked~.slider__viewport .slider__container .slider-item:nth-of-type(#{$i}) .card__image {
				// &:nth-of-type(#{$i + $slider-items}):checked~.slider__viewport .slider-item:nth-of-type(#{$i}) .card__image {
				transform: rotateX(180deg);
			}
		}
	}

	&-item {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		color: rgba(255, 255, 255, 0);
		transform: translate3d(0, 0, 10vh) rotateX(-30deg);
		transition: transform calc($transition-duration/2) $transition-timing-function calc($transition-duration/4);
		
		@for $i from 1 through $slider-items {
			&:nth-child(#{$i}) {
				top: 50% * ($i - 1);
			}
		}

		&__trigger {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 100;
			cursor: pointer;

			&%item--active__trigger {
				display: none;
			}

			&%item--inactive__trigger {
				display: block;
			}
		}
		
		&__flipper {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 100;
			cursor: pointer;

			&%item--active__flipper {
				display: block;
			}
		}

		&__inner {
			position: relative;
			width: 100%;
			height: 100%;
			transform-origin: center center;
			backface-visibility: hidden;
			transform: scale(0.75);
			transition: transform calc($transition-duration/2) $transition-timing-function 0s;
			&::before,
			&::after {
				display: block;
				position: absolute;
				content: "";
			}

			&::before {
				box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			}

			&::after {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				background-repeat: repeat-x;
				background-size: 200% 100%;
			}

			&%item--active__inner {
				transform: scale(1);
				transition-delay: calc($transition-duration/2);
				
				&::before {
					transform: translate(0, 24px);
				}

				&::after {
					background-position: -50% 0%;
					opacity: 0;
				}
			}

			&%item--inactive__inner {
				&::before {
					transform: translate(24px, 12px);
				}

				&::after {
					background-position: -100% 0%;
				}
			}
		}

		&%item--active {
			color: #fff;
			transform: translate3d(0, 0, 10vh) rotateX(0deg);

			& .slider-item__inner {
				@extend %item--active__inner;
			}

			& .slider-item__trigger {
				@extend %item--active__trigger;
			}
			
			& .slider-item__flipper {
				@extend %item--active__flipper;
			}
		}

		&%item--previous {
			transform: translate3d(0, 0%, 10vh) rotateX(-30deg)
		}

		&%item--next {
			transform: translate3d(0, 0%, 10vh) rotateX(30deg);
			& .slider-item__inner {
				@extend %item--inactive__inner;
			}

			&~.slider-item {
				transform: translate3d(0, 0%, 10vh) rotateX(30deg);
				& .slider-item__inner {
					@extend %item--inactive__inner;
				}
			}
		}
	}

	&-target {
		$index: 1;

		@while $index <=$slider-items {
			&:nth-of-type(#{$index}):checked~.slider__viewport .slider-item {
				&:nth-child(#{$index}) {
					@extend %item--active;
				}

				&:nth-child(#{$index + 1}) {
					@extend %item--next;
				}

				&:nth-child(#{$index - 1}) {
					@extend %item--previous;
				}
			}

			$index: $index + 1;
		}
	}
}

.card {
	color: currentColor;

	&:focus {
		outline: 0;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		background-image: var(--card-image);
		background-size: cover;
		background-position: center center;
		filter: blur(40px);
		border-radius: 50%;
	}

	&__face--back {
		transform: rotateY(180deg) rotateZ(180deg);
	}

	&__container {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: inherit;
	}

	&__image {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-image: var(--card-image);
		background-size: cover;
		background-position: center center;
		transition: transform (calc($transition-duration)) $transition-timing-function;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		transform-style: preserve-3d;
		transform-origin: center center;

		&.is-flipped {
			transform: rotateX(180deg);
		}
		
	}

	&:hover &__image,
	&:focus &__image {
		opacity: 1;
	}

	&__content {
		position: absolute;
		display: block;
		overflow: hidden;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;	
		padding: 2.4rem;
		font-size: 1.6rem;
		line-height: 1.25;
		mix-blend-mode: difference;
	}

	&-title {
		display: none;
		// display: block;
		// font-size: 1.6em;
		// line-height: 1.2;
		// font-weight: bold;
		// color: currentColor;

		a {
			color: inherit;
			text-decoration: none;
			font-size: inherit;

			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-height: 480px) {
			& {
				font-size: 2.4rem;
			}
		}
	}

	&-description {
		display: none;

		// @media (min-height: 640px) {
		// 	& {
		// 		display: block;
		// 	}
		// }
	}

	&-tag-list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 1.4rem;
		line-height: 1.2;
		white-space: nowrap;
		margin-left: -0.6rem;

		&-item {
			display: inline-block;
			padding: 0.2rem 0.4rem;
			border: solid 1px currentColor;
			border-radius: 4px;
			background: transparent;
		}

		@media (max-height: 480px) {
			& {
				display: none;
			}
		}
	}

	&-meta {
		display: none;
		// font-size: 1.4rem;
		// line-height: 1;
		// font-weight: 700;
		// margin-bottom: 0.4rem;

		// span {
		// 	&::before {
		// 		display: inline-block;
		// 		margin: 0 0.5rem 0.2rem;
		// 		content: "";
		// 		font-size: 1rem;
		// 		line-height: 0.5rem;
		// 		padding: 1px;
		// 		border-radius: 50%;
		// 		vertical-align: middle;
		// 		background-color: currentColor;
		// 	}

		// 	&:first-child {
		// 		margin-left: 0;

		// 		&::before {
		// 			display: none;
		// 		}
		// 	}
		// }
	}
}

.hidden {
	display: none;
}

/* Exact aspect ratio, put it at the bottom to avoid override*/
@media (min-aspect-ratio: 1/1) {

	.slider {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);

		&__viewport {
			position: relative;
			height: 100%;
			width: 100%;
		}

		&__viewbox {
			display: block;
			position: relative;
			perspective: 100vw;
			margin: 0 auto;
			width: $slider-viewbox-width;
			max-width: $slider-viewbox-max-width;

			&::before {
				position: relative;
				top: 0;
				left: 0;
				display: block;
				content: "";
				height: 0;
				padding-bottom: $slider-viewbox-height;
				width: 100%;
			}
		}


		&-target {

			@for $i from 1 through $slider-items {
				&:nth-of-type(#{$i}):checked
					~ .slider__viewport
					.slider__container {
					transform: translateX(-50% * ($i - 1));
				}
			}
		}
		
		&-target-flip {

			@for $i from 1 through $slider-items {
				&:nth-child(#{$i} of .slider-target-flip):checked~.slider__viewport .slider__container .slider-item:nth-of-type(#{$i}) .card__image {
					// &:nth-of-type(#{$i + $slider-items}):checked~.slider__viewport .slider-item:nth-of-type(#{$i}) .card__image {
					transform: rotateY(180deg);
				}
			}
		}

		&-item {

			transform: translate3d(-35%, 0, 10vh) rotateY(30deg);
			// transition: transform (calc($transition-duration/2)) $transition-timing-function (calc($transition-duration/2));

			@for $i from 1 through $slider-items {
				&:nth-child(#{$i}) {
					left: 50% * ($i - 1);
					top: initial;
				}
			}

			&%item--active {

				& .slider-item__inner {
					@extend %item--active__inner;
				}

				& .slider-item__trigger {
					@extend %item--active__trigger;
				}
				
				// & .slider-item__flipper {
				// 	@extend %item--active__flipper;
				// }
			}

			&%item--previous {
				transform: translate3d(-30%, 0, 10vh) rotateY(30deg);
			}

			&%item--next {
				transform: translate3d(30%, 0, 10vh) rotateY(-30deg);

				& .slider-item__inner {
					@extend %item--inactive__inner;
				}

				& ~ .slider-item {
					transform: translate3d(30%, 0, 10vh) rotateY(-30deg);

					& .slider-item__inner {
						@extend %item--inactive__inner;
					}
				}
			}
		}

		// &-target {
		// 	$index: 1;
		// 	@while $index <= $slider-items {
		// 		&:nth-of-type(#{$index}):checked
		// 			~ .slider__viewport
		// 			.slider-item {
		// 			&:nth-child(#{$index}) {
		// 				@extend %item--active;
		// 			}

		// 			&:nth-child(#{$index + 1}) {
		// 				@extend %item--next;
		// 			}

		// 			&:nth-child(#{$index - 1}) {
		// 				@extend %item--previous;
		// 			}
		// 		}

		// 		$index: $index + 1;
		// 	}
		// }
	}

	.card {
		color: transparent;
		
		&__face--back {
			transition: all $transition-duration $transition-timing-function $transition-duration;
			transform: rotateY(180deg) rotateZ(0);
		}
		
		&:focus {
			outline: 0;
		}
		
		&__container {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: inherit;
		}

		&__image {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: var(--card-image);
			background-size: cover;
			background-position: center center;
			// &.is-flipped {
			// 	transform: rotateY(180deg);
			// }
		}

		&:hover &__image,
		&:focus &__image {
			opacity: 1;
		}

		&__content {
			position: absolute;
			display: block;
			overflow: hidden;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 2.4rem;
			font-size: 1.6rem;
			line-height: 1.25;
		}

		// &-title {
		// 	display: block;
		// 	font-size: 3.2rem;
		// 	line-height: 1.2;
		// 	font-weight: bold;
		// 	color: currentColor;

		// 	a {
		// 		color: inherit;
		// 		text-decoration: none;
		// 		font-size: inherit;

		// 		&:hover {
		// 			text-decoration: underline;
		// 		}
		// 	}

		// 	@media (max-height: 480px) {
		// 		& {
		// 			font-size: 2.4rem;
		// 		}
		// 	}
		// }

		&-description {
			display: none;
			margin-top: 1.6rem;

			@media (min-height: 640px) {
				& {
					display: block;
				}
			}
		}

		&-tag-list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			flex-direction: row;
			flex-wrap: wrap;
			font-size: 1.4rem;
			line-height: 1.2;
			white-space: nowrap;
			margin-left: -0.6rem;
			margin-top: 1rem;

			&-item {
				display: inline-block;
				margin-left: 0.6rem;
				margin-top: 0.6rem;
				padding: 0.2rem 0.4rem;
				border: solid 1px currentColor;
				border-radius: 4px;
				background: transparent;
			}

			@media (max-height: 480px) {
				& {
					display: none;
				}
			}
		}

		// &-meta {
		// 	display: block;
		// 	font-size: 1.4rem;
		// 	line-height: 1;
		// 	font-weight: 700;
		// 	margin-bottom: 0.4rem;

		// 	span {
		// 		&::before {
		// 			display: inline-block;
		// 			margin: 0 0.5rem 0.2rem;
		// 			content: "";
		// 			font-size: 1rem;
		// 			line-height: 0.5rem;
		// 			padding: 1px;
		// 			border-radius: 50%;
		// 			vertical-align: middle;
		// 			background-color: currentColor;
		// 		}

		// 		&:first-child {
		// 			margin-left: 0;

		// 			&::before {
		// 				display: none;
		// 			}
		// 		}
		// 	}
		// }
	}

}

.card__face {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	&>*,
	&> ::before,
	&> ::after {
		border-radius: inherit;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.24), inset -1px -1px 0 0 rgba(0, 0, 0, 0.7);
		border-radius: inherit;
	}
}
